/* fin.css */
.finance-container {
  margin: 50px 50px;
  background: #dcdae5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.sort-options {
  margin-right: 20px;
}

.portfolio-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}

.profit {
  color: #4caf50;
}

.loss {
  color: #f44336;
}

.stock-container {
  border-radius: 10px;
}

.portfolio-container h2,
.stock-container h2 {
  text-decoration: underline;
  font-size: 1.7rem;
  color: #333;
}
.details {
  margin-left: -50px;
}
.fin-card-body {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  width: 100%;
}

.trade-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #201c4c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 200px;
  margin-top: -150px;
  width: 200px;
  align-content: center;
}

.trade-btn:hover {
  background-color: #0056b3;
}

.trade-btn:focus {
  outline: none;
}

.fin-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  font-size: 50px;
  color: #201c4c;
  border: 2px solid transparent; /* Transparent border */
  font-weight: bold;
}

.fin-header img {
  width: 100px; /* Adjusted width */
  margin-left: 15px; /* Adjusted margin */
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-8,
.col-4 {
  flex: 1;
  margin-right: 10px;
}

.portfolio-container {
  margin-top: 20px;
  width: 450px; /* Adjusted width */
  padding: 20px; /* Adjusted padding */
  margin-left: 20px;
  border-radius: 10px;
}
.text {
  font-size: 30px;
  margin-bottom: -20px;
}
.trade-container {
  border: 1px solid #ddd;
  width: 450px; /* Adjusted width */
  padding: 15px;
  margin-top: 20px;
  background: #fff;
  color: #333;
  border-radius: 5px;
  margin-bottom: 20px;
}

.trade-bold {
  font-weight: bold;
}

.fin-card-body {
  border-radius: 10px;
}
.fin-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.stock {
  margin-left: 20px;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  color: #333;
}

.search-bar select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  color: #333;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.stock-item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-item:hover {
  background: #f1f1f1;
}

.stock-item h3 {
  margin-top: 0;
  color: #007bff;
}

.stock-item p {
  margin: 5px 0;
}
