.personal-loan-container {
  padding: 20px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #e8e4e8; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-loan-container h1 {
  text-align: center;
  font-size: 3rem;
  color: #201c4c;
  margin-bottom: 30px;
  font-weight: 600;
}

.bold-img {
  display: block;
  margin: 0 auto 30px auto;
}

.personal-loan-card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.personal-loan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.personal-loan-card h2 {
  font-size: 2rem;
  color: #201c4c;
  margin-bottom: 10px;
}

.personal-loan-card p {
  margin: 5px 0;
  color: #333;
}

.personal-loan-card .bold {
  font-weight: bold;
}

.visit-website-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #201c4c;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.visit-website-button:hover {
  background-color: #7974b1;
}
